<header>
    <nav>
        <a href="/">MYLIBRARY</a>
        <ul>
            <li><a href="/authors">AUTHORS</a></li>
            <li><a href="/authors/new">ADD AUTHORS</a></li>
        </ul>
    </nav>
</header>